<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="blue">
    <title>FrontEnd Mentor | API REST</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <header>

    </header>

    <div class="container">
        <form id="form">
            <input type="text" name="country" placeholder="Search country" />
        </form>
        <div class="select">
            <select id="">
                <option value="Africa">Africa</option>
                <option value="America">America</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
    </div>
    
    <!-- <ul>
        <% data.forEach((e) => { %>
            <li><%= e.name %></li>
        <%}) %>
    </ul> -->
</body>
</html>