<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="blue">
    <title>FrontEnd Mentor | API REST</title>
    <link rel="icon" href="../src/images/favicon-32x32.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
</head>
<body>

    <header class="header-site">
        <div class="title-header">
            <h2>Where in the world?</h2>
        </div>
        <div class="dark-mode-container">
            <button class="dark-mode" id="dark-mode"><i class="material-icons">brightness_3</i> Dark Mode</button>
        </div>
    </header>
    <form id="form" class="form-country">
        <div class="container-search">
            <div class="search" id="search">
                <div class="icon">
                    <i class="material-icons">search</i>
                </div>
                <div class="input">
                    <input type="text" name="country" id="input" placeholder="Search country" />
                </div>
            </div>
        </div>
        <div class="select-container">
            <div class="content">
                <span id="btn-country">
                    <p id="filter">Filter by region</p>
                    <i class="material-icons" id="icon-expand">expand_more</i>
                </span>
                <ul class="select" id="select">
                    <button type="submit" data-id="all">filter by region</button>
                    <button type="submit" data-id="africa">Africa</b>
                    <button type="submit" data-id="americas">Americas</b>
                    <button type="submit" data-id="asia">Asia</b>
                    <button type="submit" data-id="europe">Europe</b>
                    <button type="submit" data-id="oceania">Oceania</b>
                </ul>
            </div>
            </div>
    </form>

    <section class="container" id="container">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/ni.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Nicaragua</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>6262703</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Managua</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/ve.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Venezuela</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>31028700</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Caracas</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/cn.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>China</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>1377422166</p></strong>
                <strong>Region: <p>Asia</p></strong>
                <strong>Capital: <p>Beijing</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/pe.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Perú</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>31488700</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Lima</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/mx.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Mexico</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>122273473</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Mexico City</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/es.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>España</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>6262703</p></strong>
                <strong>Region: <p>Europe</p></strong>
                <strong>Capital: <p>Madrid</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/co.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Colombia</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>48759958</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Bogotá</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/ar.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Argentina</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>43590400</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Buenos Aires</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/ca.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>Canada</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>36155487</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Ottawa</p></strong>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://flagcdn.com/us.svg" alt="Imagen">
            </div>
            <div class="card-title">
                <h2>United States of America</h2>
            </div>
            <div class="card-description">
                <strong>Population: <p>323947000</p></strong>
                <strong>Region: <p>Americas</p></strong>
                <strong>Capital: <p>Managua</p></strong>
            </div>
        </div>
        <!-- <img class="responsive-img" src="images/desktop-preview.jpg" alt="Imagen"> -->
    </section>

    <div class="overlay" id="overlay"></div>
    
    <!-- <script src="index.js"></script> -->
</body>
</html>